.content-area
	h1
		font-size 34px
		font-weight 300
		margin 0
	h2
		color $beige-primary
		font-size 24px
		font-weight 700
		margin 0
	p
		color $black-primary
		font-size 14px
		line-height 24px
		margin 0 0 15px
		&:last-of-type
			margin-bottom 0