.page-template-page-contact .jumbotron{background-image:url("../images/contact-banner.png");background-position:center;background-size:cover;}
.page-template-page-contact .jumbotron h1{font-size:48px}
.page-template-page-contact .jumbotron p{font-size:22px;margin-top:0}
.page-template-page-contact form .form-group{background-color:#fff;border:1px solid #4b4b4b;border-radius:2px;margin:0 0 10px;padding:10px;position:relative;}
.page-template-page-contact form .form-group .error{position:absolute;top:0;left:0;right:0;text-align:right;padding:2px 15px;font-size:10px;font-weight:600;background-color:rgba(158,40,49,0.75);z-index:0;line-height:28px;text-transform:uppercase;color:#fff;border-bottom:1px solid #86222a}
.page-template-page-contact form .form-group.has-error label{color:#fff}
.page-template-page-contact form .form-group label{color:#4b4b4b;display:block;font-size:10px;font-weight:600;letter-spacing:.1em;margin-bottom:10px;position:relative;z-index:1}
.page-template-page-contact form .form-group input,.page-template-page-contact form .form-group textarea{border:0;height:auto;outline:0;padding:0;resize:none;vertical-align:middle;}
.page-template-page-contact form .form-group input +placeholder(),.page-template-page-contact form .form-group textarea +placeholder(){font-size:12px;font-weight:100}
.page-template-page-contact form .form-group .group-column{float:left;width:50%;}
.page-template-page-contact form .form-group .group-column.left{border-right:1px solid #a6a6a6;}
.page-template-page-contact form .form-group .group-column.left input{padding:0 10px 0 0}
.page-template-page-contact form .form-group .group-column.right input{padding:0 0 0 10px}
.page-template-page-contact form button{appearance:none;background-image:none;border:0;border-radius:0;box-shadow:none;background-color:#9e2831;color:#fff;font-size:20px;font-weight:400;outline:0;line-height:26px;text-shadow:none;text-transform:uppercase;width:100%;}
.page-template-page-contact form button:hover{background-image:none;border:0;box-shadow:none}
.page-template-page-contact .sidebar a{display:block;text-decoration:none;}
.page-template-page-contact .sidebar a.fb{color:#3b5998}
.page-template-page-contact .sidebar a.tw{color:#28a9e0}
.page-template-page-contact .sidebar a.vm{color:#5bc8ff}
.page-template-page-contact .sidebar a .social{display:block;font-family:$proxima;font-size:20px;line-height:36px;margin-bottom:5px;padding:5px;}
.page-template-page-contact .sidebar a .social:first-of-type{margin-top:10px}
.page-template-page-contact .sidebar a .social.fb{background-color:#eaeef4;}
.page-template-page-contact .sidebar a .social.fb span{background-color:#3b5998}
.page-template-page-contact .sidebar a .social.tw{background-color:#e2eff5;}
.page-template-page-contact .sidebar a .social.tw span{background-color:#28a9e0}
.page-template-page-contact .sidebar a .social.vm{background-color:#e2f3fc;}
.page-template-page-contact .sidebar a .social.vm span{background-color:#5bc8ff}
.page-template-page-contact .sidebar a span{background-color:#000;display:inline-block;font-size:16px;margin-right:5px;padding:0 5px;color:#fff}
.page-template-page-contact .sidebar h4{margin-bottom:0}
.page-template-page-contact .sidebar p{margin-top:0}
