.page-template-page-programs .impact strong {
  color: $blue-secondary;
  display: block;
  font-size: 28px;
  position: relative;
}
.page-template-page-programs .impact strong:after {
  border-bottom: 2px solid $red-primary;
  bottom: 2px;
  content: '';
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  width: 30%;
}
