.single #page .jumbotron {
  padding-bottom: 15px;
}
.single #page .jumbotron h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}
.single #page .jumbotron .entry-meta {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
}
.single #page .jumbotron .entry-meta span {
  display: inline-block;
  color: $white;
  font-weight: inherit;
}
.single #page .jumbotron .entry-meta span a {
  text-decoration: none;
  color: $white;
  font-weight: inherit;
}
.single #page .jumbotron .entry-meta span:visited {
  color: $white;
}
.single #page .jumbotron .entry-meta span.byline {
  margin-left: 10px;
}
.single #page .rrssb-buttons {
  margin: 25px 0;
}
.single #page .content-area {
  float: left;
  margin: 0 -25% 0 0;
  width: 100%;
}
.single #page .site-main {
  margin: 0 25% 0 0;
}
.single #page .site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 25%;
}
.single #page .site-footer {
  clear: both;
  width: 100%;
}
.single #page .leveler {
  overflow: hidden;
}
.single #page #primary,
.single #page #secondary {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.single #page #primary {
  background-color: $white;
}
.single #page #secondary {
  background-color: $background;
}
.single #page .site-footer {
  margin-top: 0px;
}
.single #page .site-footer h1 {
  font-size: 16px;
}
#secondary {
  padding: 30px;
}
#secondary h1 {
  font-size: 14px;
  text-transform: uppercase;
}
#secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
#secondary a {
  text-decoration: none;
  color: #424242;
}
#secondary input {
  width: 100%;
}
#secondary select {
  width: 80%;
  font-size: 14px;
  padding: 5px;
  background-color: #f5f2ea;
}
.single .social {
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-next a,
.nav-previous a {
  display: inline-block;
  border: 2px solid;
  color: $beige-primary;
}
.nav-next a:hover,
.nav-previous a:hover {
  background-color: $beige-primary;
  border: 2px solid transparent;
  color: $beige-secondary;
  line-height: 42px;
  padding: 0 20px;
}
.container.navigation.post-navigation {
  position: relative;
}
.container.navigation.post-navigation .nav-previous {
  background-repeat: no-repeat;
  background-position: left center;
}
.container.navigation.post-navigation .nav-previous a {
  padding: 0 20px 0 20px;
  line-height: 42px;
}
.container.navigation.post-navigation .nav-next {
  background-repeat: no-repeat;
  background-position: right center;
}
.container.navigation.post-navigation .nav-next a {
  padding: 0 20px 0 20px;
  line-height: 42px;
}
.container.navigation.post-navigation .home {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: $black-primary;
  line-height: 32px;
}
.content-break {
  position: relative;
}
.content-break .content {
  position: initial !important;
}
.content-break .content > * {
  position: relative;
  z-index: 1;
}
.content-break .content:before {
  background: rgba(0,0,0,0.75);
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
@media (max-width: 992px) {
  .single #page .site-main {
    margin: 0;
  }
  .single #page .site-content .widget-area {
    display: block;
    width: 100%;
  }
}
