.jumbotron.about
	height 400px
	p
		font-size 22px
		margin-top 0px
.strengths
	margin 0 -20px
.who, .strengths-below, .arf
	padding 0 120px
.arf .reports, .arf .filings, .arf .auditeds, .arf-single
	display inline-block
	overflow hidden
.arf .reports, .arf .filings
	width 50%
	float left
.arf .auditeds
	width 100%
.arf .reports, .arf .auditeds
	text-align left
.arf .filings
	text-align right
.arf-single
	margin 0 10px
	width 125px
	text-align center
	.title
		text-align left
		margin-bottom 5px
		font-size 11.5px
	.type
		height 150px
		padding-top 57px
		color $white
		line-height 18px
		letter-spacing 3px
		margin-bottom 10px
	.btn
		width 100%
.arf .auditeds .arf-single .type
	background-color $green-primary
.arf .reports .arf-single .type
	background-color $purple-primary
.arf .filings .arf-single .type
	background-color $blue-secondary
.auditeds .arf-single .type
	font-size 12px
.staff-list
	margin 0
	padding 0
	width 100%
.staff-item
	list-style none
	display inline-block
	margin 0 10px
	.staff-img
		display block
		border 1px solid $red-primary
		background-color $red-primary
		width 142px
		height 125px
		margin 0
	strong
		margin-top 5px
		font-size 12px
	p
		margin-top 0
		font-size 12px
.board-list
	margin 0
	padding 0
	width 100%
.board-item
	list-style none
	display inline-block
	margin 0 10px
	width 31.5%
	float left
	strong
		margin-top 5px
		font-size 12px
	p
		margin-top 0
		font-size 12px
.history
	.placeholder
		display inline-block
		min-width 345px
		width 345px
		min-height 225px
		height 225px
		background-color $dark-gray
		vertical-align top
		margin-top 30px
	.hist-txt
		display inline-block
		width calc(99% - 345px)
		padding 0 25px
.mission
	.placeholder
		background-color $dark-gray
		min-width 100%
		width 100%
		min-height 190px
		height 190px
	.vision-list
		margin 0
		li
			list-style none
			background-image url("../images/bullet.png")
			background-repeat no-repeat
			background-position left center
			min-height 40px
			list-style none
			padding-left 40px
			margin-bottom 1.5em
.faq
	.info
		max-width 65%
		width 100%
		margin 0 auto 45px auto
.endorsements
	.info
		max-width 65%
		width 100%
		margin 0 auto 45px auto
	.endorsement-list
		border-top 2px dashed $dark-gray
		width 100%
		margin 0
		padding 0
		.endorsement-item
			list-style none
			display inline-block
			width 100%
			background-color $beige-secondary
			margin 20px 0
			padding 15px 0
			.endorsement-img
				display inline-block
				min-width 50px
				width 10%
				padding-top 15px
				float left
				img
					border 5px solid $dark-gray
					border-radius 50%
			.endorsement-panel
				display inline-block
				width 84%
				float left
			&:nth-child(even)
				.endorsement-img
					float right
				.endorsement-panel
					text-align right
					float right
