.page-template-page-programs
	.impact
		strong
			color $blue-secondary
			display block
			font-size 28px
			position relative
			&:after
				border-bottom 2px solid $red-primary
				bottom 2px
				content ''
				left 0
				margin auto
				right 0
				position absolute
				width 30%
		
		.educate
			max-width 817px
			h2
				color $beige-primary
				font-size 26px
				letter-spacing 5px
			hr
				color $beige-primary
				height 1px
				
			.row
				display flex
				
				.col-md-6
					border 1px solid $beige-primary
					height 232px
					padding 38px
					width 418px
					
					h2, h5
						margin 0
					h5
						font-weight 600
					
				.workshop
					margin-right 50px
					
		.whatwedo
			max-width 817px
			
			h2
				font-size 40px
				letter-spacing 5px
			
			.row
				display flex
				
			.container
				background-color rgba(0,0,0,.1);
				
				.testimonials
					font-weight 700
					max-width 100px
					margin 0px 34px
					padding 20px
					color $black-primary

				img
					border 3px solid $purple-primary
					border-radius 50%
					margin 0 48px
					
				.col-md-10
					margin 0 auto
					max-width 500px
					
					p
						font-style italic
						&:last-of-type
							font-weight 700
						
				hr
					background-color $white
					max-width 695px
		.moal
			h2
				img
					height 30px
					width 50px
					
			.line
				margin-bottom 0
				margin-top 0
			.rail
				
				.tabs
					margin 0
					padding-left 0
					display flex
				ul
					list-style none
					
					li 
						padding 19px 0px
						color $black-primary
						text-transform uppercase
						font-size 9px
						width 20%
						text-align center
						font-weight 800
					.active
						background-color $red-primary
						color $white
						
			.container
				margin-top: 100px;
						

			.overview-container
				margin: 52px auto;
				width 600px
				
				.overview-text
					color $black-primary
					font-weight 700
					text-transform uppercase
					letter-spacing 2px
					
				.btn
					float right
					padding 6px 18px 
					border 1px solid $beige-primary
					color $beige-primary
					
					.fa-angle-right
						margin-left 10px
					 
					
				
	.program-column > p
		margin-bottom 0
		
.hidden
	display none
	

// @media (min-width: 400px)
// 	.page-template-page-programs
// 		.impact
// 			.whatwedo
// 				.container
// 					text-align center
					
// 					.row
// 						display block
					
// 					.col-md-2
// 						width 150px
// 						margin 0 auto
						
// 						img
// 							margin 0 auto
							
// 					.col-md-10
// 						width 273px	