.jumbotron.resources
	height 400px
	p
		font-size 22px
		margin-top 0px
.underline 
	border-bottom 1px solid lighten(#4b4b4b, 75%)
	margin-bottom 20px
	position relative
	h2
		margin-bottom 0
	.all
		text-decoration none
		color $dark-gray
		font-size 12px
		position: absolute;
		bottom: 0px;
		right: 0px;
		line-height 36px
.resource-list
	margin 0
	padding 0
	width 100%
.resource-item
	list-style none
	display inline-block
	margin 0 25px
	strong
		margin 0
		font-size 12px
	p
		margin-top 0
		margin-bottom 5px
		font-size 12px
	.resource-img
		display block
		background-color $red-primary
		width 178px
		height 264px
		margin 0 0 15px 0
	.btn
		margin-left 2%
		width 96%
		text-align center
		font-size 14px