.single #page
	.jumbotron
		padding-bottom 15px
		h1
			font-size 48px
			font-weight 600
			line-height 52px
		.entry-meta
			font-size 20px
			font-weight 300
			margin-top 0px
			span
				display inline-block
				color $white
				font-weight inherit
				a
					text-decoration none
					color $white
					font-weight inherit
				&:visited
					color $white
				&.byline
					margin-left 10px
	.rrssb-buttons
		margin 25px 0
	.content-area
		float left
		margin 0 -25% 0 0
		width 100%
	.site-main
		margin 0 25% 0 0
	.site-content .widget-area
		float right
		overflow hidden
		width 25%
	.site-footer
		clear both
		width 100%
	.leveler
		overflow hidden
	#primary, #secondary
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	#primary
		background-color $white
	#secondary
		background-color $background
	.site-footer
		margin-top 0px
		h1
			font-size 16px
#secondary
	padding 30px
	h1
		font-size 14px
		text-transform uppercase
	ul
		margin 0
		padding 0
		list-style none
		font-size 14px
	a
		text-decoration none
		color #424242
	input
		width 100%
	select
		width 80%
		font-size 14px
		padding 5px
		background-color #F5F2EA
.single .social
	margin-top 25px
	margin-bottom 25px
.nav-next a, .nav-previous a
	display inline-block
	border 2px solid
	color $beige-primary
	&:hover
		background-color $beige-primary
		border 2px solid transparent
		color $beige-secondary
		line-height 42px
		padding 0 20px
.container.navigation.post-navigation
	position relative
	.nav-previous
		background-repeat no-repeat
		background-position left center
		a
			padding 0 20px 0 20px
			line-height 42px
	.nav-next
		background-repeat no-repeat
		background-position right center
		a
			padding 0 20px 0 20px
			line-height 42px
	.home
		display inline-block
		margin-left 25%
		margin-right 25%
		text-align center
		color $black-primary
		line-height 32px
.content-break
	position relative
	.content
		position initial !important
		& > *
			position relative
			z-index 1
		&:before
			background rgba(black, 0.75)
			background linear-gradient(rgba(black, 0),rgba(black, 0.75))
			bottom 0
			content ''
			left 0
			position absolute
			right 0
			top 0
			z-index 0
@media (max-width: 992px)
	.single #page .site-main
		margin 0
	.single #page .site-content .widget-area 
		display block
		width 100%