.accordion
	.accordion-section
		padding 20px 0
		border-bottom 2px dashed $dark-gray
		&:first-child
			border-top 2px dashed $dark-gray
		.accordion-icon
			display inline-block
			width 48px
			min-height 32px
			height 32px
			background-image url("../images/arrow-closed.png")
			background-repeat no-repeat
			background-position 32px center
			background-color $blue-secondary
			vertical-align top
			&.active
				background-image url("../images/arrow-open.png")
		.accordion-panel
			display inline-block
			width calc(99% - 48px)
			.accordion-title
				display inline-block
				min-height 32px
				height 32px
				width 100%
				padding-left 20px
				color $dark-gray
				font-size 14px
				margin 0
				font-weight bold
				text-decoration none
				&:focus
					outline none
			.accordion-content
				display none
				padding-left 20px
				p
					color $black-primary
					font-size 14px
					line-height 24px
					margin 0 0 15px
					&:last-of-type
						margin-bottom 0
				&.open
					display	block