.btn, .nav-next a, .nav-previous a
	font-size 16px
	font-weight 600
	letter-spacing 0.075em
	text-decoration none
	text-transform uppercase
	transition all 300ms ease
	vertical-align middle
	&.tiny
		font-size 14px
		line-height 32px
		padding 0 10px
a, button
	&.btn
		font-size 16px
		font-weight 600
		letter-spacing 0.075em
		text-decoration none
		text-transform uppercase
		transition all 300ms ease
		vertical-align middle
		&.micro
			font-size 12px
			line-height 24px
			padding 0 10px
		&.tiny
			font-size 14px
			line-height 32px
			padding 0 10px
		&.small
			line-height 32px
			padding 0 20px
		&.btn-outline
			border 2px solid
			color $beige-primary
			&:hover
				background-color $beige-primary
				border 2px solid transparent
				color $beige-secondary
		&.btn-dashed
			background-color $blue-primary
			border 2px solid transparent
			color $purple-secondary
			position relative
			&:before
				border 2px dashed $blue-secondary
				bottom 2px
				content ''
				left 2px
				right 2px
				position absolute
				top 2px
			&:hover
				background-color darken($blue-secondary, 15%)
				&:before
					border 2px dashed darken($blue-secondary, 25%)
		&.btn-red
			background-color $red-primary
			border 2px solid darken($red-primary, 25%)
			color $purple-secondary
			transition all 0ms ease
		&.btn-trapezoid
			background-color $red-primary
			border 2px solid darken($red-primary, 25%)
			color $purple-secondary
			transition all 0ms ease
			&.trap-bot-right
				border-right 0
				padding-right 10px
				position relative
				&:after
					border-bottom 32px solid $red-primary
					border-right 24px solid transparent
					bottom 0
					content ''
					height 0
					position absolute
					right -24px
					top 0
					width 0
				&:before
					border-bottom 36px solid darken($red-primary, 25%)
					border-right 28px solid transparent
					bottom 0
					content ''
					height 0
					position absolute
					right -28px
					top -2px
					width 0
				&:hover
					background-color darken($red-primary, 25%)
					&:after
						border-bottom 32px solid darken($red-primary, 25%)
				&.large
					background-color transparent
					border 2px solid $purple-secondary
					border-right 0
					font-weight 400
					line-height 48px
					padding 0 20px
					&:after
						display none
					&:before
						border-color $purple-secondary
						border-style solid
						border-width 2px 2px 2px 0
						bottom -2px
						height auto
						position absolute
						right -15px
						top -2px
						transform skewX(25deg)
						width 36px
		&.btn-social
			color $white
			font-size 14px
			line-height 32px
			padding 0 20px
			font-size 12px
			text-align right
			i.fa
				margin-right 15px
				font-size 18px
				line-height 32px
				float left
		&.btn-em
			background-color $email
		&.btn-fb
			background-color $facebook
		&.btn-in
			background-color $linkedin
		&.btn-tw
			background-color $twitter
		&.btn-gp
			background-color $gplus
		&.btn-pn
			background-color $pinterest

// Social
/*.social
	list-style none
	margin 0
	padding 0
	li
		display inline
		margin-right 10px
		a
			color $purple-secondary
			display inline-block
			font-size 28px
			line-height 48px
			text-align center
			transition all 300ms ease
			width 48px
			&.facebook
				background #3B5998
				i
					vertical-align middle
			&.twitter
				background #5EA9DD
				i
					vertical-align middle
			&.linked
				background #0274B3
*/