.coverflow-container .arrow
	display block
	position relative
	width 64px
	height 300px
	z-index 500
	cursor pointer
	background-color $background
	&.left
		float left
		margin-left -15px
	&.right
		float right
		margin-right -15px
	img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
.coverflow-container .coverflow
	display block
.coverflow .cover
	width 320px
	.details
		position relative
		.img
			width 320px
			height 240px
			overflow hidden
			&:before
				content ''
				display inline-block
				height 100%
				width 0px
				margin-left -5px
			img
				display inline-block
				vertical-align bottom
		.btn
			position absolute
			top 190px
			left 10px
			width 300px
			color white
			display none
		.locale
			visibility hidden
		.description
			visibility hidden
.coverflow .cover.current .details
	.locale
		visibility visible
	.description
		visibility visible
	.btn
		display block