.container
  margin 0 auto
  max-width 1200px
  padding 0 15px
  width 100%
  
.container-fluid
  padding 0 15px
  width 100%

.clearfix
  clearfix()
 
.row
  list-style none
  margin 0 -15px
  clearfix()
  &.clear-bottom > .col
    padding 0 15px
    
.col
  float left
  padding 0 15px 15px
  img
    max-width 100%
    height auto
    
grid(class = 'sm', columns = 12)
  for colCount in (1 .. columns)
    percentWidth = (1% * ((colCount / columns) * 100))
    .col-{class}-{colCount}
      width percentWidth

/* Base Grid */
grid()
 
/* Medium Size */
@media (min-width: $sm)
  grid('md')
  .fifths
    width 20%
 
/* Large Size */
@media (min-width: $md)
  grid('lg')