// Breakpoints
$sm = 768px
$md = 992px
$lg = 1200px

// Colors
$blue-primary = #436061
$blue-secondary = #5F8586

$green-primary = #749649
$green-secondary = #B9D279

$red-primary = #9E2831
$red-secondary = #B45851

$purple-primary = #66596B
$purple-secondary = #FFFFFF

$black-primary = #424242

$beige-primary = #9B978D
$beige-secondary = #D3D0C7

$dark-gray = #4B4B4B

// Fonts
$font-sans = 'proxima-nova', sans-serif